* {
}

body {
    background-color: darkgrey;
    margin: 0;
}

header {
    display: flex;
    background-color: gainsboro;
    height: 75px;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

.logo {
    color: black;
    margin-left: 40px;
    font-size: 28px;
}

header a {
    color: black;
    margin-right: 40px;
    text-decoration: none;
    font-size: 28px;
}

    header a:hover {
        color: brown;
        text-decoration: underline;
    }

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: black;
}
